Source: areadetector
Section: utils
Priority: extra
Maintainer: Ralph Lange <Ralph.Lange@gmx.de>
Uploaders: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~), epics-debhelper (>= 6~),
               epics-dev (>= 3.14.11-2),
               epics-synapps-dev, epics-iocstats-dev,
               epics-msi,
               adl2edl (>= 1.4-3~),
               libnetcdf-dev, libtiff-dev, libjpeg-dev, libz-dev,
               libgraphicsmagick-dev, libgraphicsmagick++-dev,
               libcbf-dev, libhdf4-dev,
               libhdf5-serial-dev | libhdf5-dev (>= 0),
               libdc1394-22-dev,
               libaravis0.2-dev, libglib2.0-dev, libxml2-dev, libusb-1.0-0-dev,
               libpcre3-dev,
Standards-Version: 3.8.0
Homepage: http://cars9.uchicago.edu/software/epics/areaDetector.html
Vcs-Browser: https://github.com/epicsdeb/areadetector
Vcs-Git: https://github.com/epicsdeb/areadetector.git

Package: libareadetector1.7
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: epics-areadetector (= ${binary:Version})
Description: Video Camera driver for EPICS
 .
 This package provides shared libraries

Package: epics-areadetector
Architecture: any
Section: video
Depends: ${shlibs:Depends}, ${misc:Depends},
Recommends: edm-areadetector (= ${source:Version}),
            libareadetector1.7 (= ${binary:Version}),
Conflicts: epics-synapps (<< 5.6~)
Description: Video Camera driver for EPICS
 .
 This package provides the database files
 needed by an IOC using the areaDetector support.

Package: epics-areadetector-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends},
         epics-areadetector (= ${binary:Version}),
Recommends: edm-areadetector (= ${source:Version})
Conflicts: epics-synapps-dev (<< 5.6~)
Description: Video Camera driver for EPICS
 .
 This package provides files needed to build an
 IOC with the iocStats support.

Package: boy-areadetector
Section: contrib/devel
Architecture: all
Depends: ${misc:Depends},
Description: Video Camera driver for EPICS
 .
 This package provides operator displays
 for the BOY (Best OPI Yet) display client.

Package: edm-areadetector
Section: contrib/devel
Architecture: all
Depends: ${misc:Depends},
Conflicts: edm-synapps (<= 5.5-99),
Recommends: edm
Description: Video Camera driver for EPICS
 .
 This package provides operator displays
 for EDM (Extendable Display Manager) display client.
